body {
  background-color: dimgrey;
  color: whitesmoke;
  font-family: Verdana;
  text-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  text-align: center;
}

.base-box {
  text-align: center;
  margin: auto auto;
}

.color-box {
  border-radius: 5px;
  width: 80px;
  height: 80px;
}

.container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.container > .color-box {
  border-color: black;
  background-color: aqua;
}

h2,
p {
  text-align: center;
}

.color-box {
  -webkit-box-shadow: 10px 10px 20px 4px rgba(82, 82, 82, 0.19);
  -moz-box-shadow: 10px 10px 20px 4px rgba(82, 82, 82, 0.19);
  box-shadow: 10px 10px 20px 4px rgba(82, 82, 82, 0.19);
}
