body {
  background-color: dimgrey;
  color: whitesmoke;
  font-family: Verdana;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  text-align: center;
}

.base-box {
  text-align: center;
  margin: auto auto;
}

.color-box {
  border-radius: 5px;
  width: 80px;
  height: 80px;
}

.container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.container > .color-box {
  border-color: black;
  background-color: aqua;
}
