/** @format */

body {
  background-color: dimgrey;
  background-image: url(/images/escheresque_ste.png);
  color: whitesmoke;
  font-family: Verdana;
  text-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  text-align: center;
}

.base-box {
  text-align: center;
  margin: auto auto;
}

.color-box {
  border-radius: 5px;
  width: 80px;
  height: 80px;
}

.container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.container > .color-box {
  border-color: black;
  background-color: aqua;
}

h2,
p {
  text-align: center;
}

.color-box {
  box-shadow: 10px 10px 20px 4px rgba(0, 0, 0, 0.19);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.attrib {
  text-align: center;
  font-size: 0.7em;
}

.attrib a {
  color: #5858da;
}
